name: ServiceNow DevOps Change Automation

on:
  push:
    branches:
      - main

jobs:
  servicenow-change:
    name : create ServiceNow Change
    runs-on: ubuntu-latest

    steps:
      - name: change
        uses: ServiceNow/servicenow-devops-change@v2.0.0
        with:
          instance-url: ${{ secrets.SN_INSTANCE_URL }}
          devops-integration-token: ${{ secrets.SN_DEVOPS_INTEGRATION_TOKEN }}
          tool-id: ${{ secrets.SN_ORCHESTRATION_TOOL_ID }}
          context-github: ${{ toJSON(github) }}
          job-name: Create ServiceNow Change
          change-request:
            '{"changeCreationTimeOut":3600,"changeStepTimeOut":1800,"pollingInterval":30,"changeRequestDetails":{"attributes":{"short_description":"Test descriptiont","type":"DevOps Simplified","justification":"test justification","description":"test description","comments":"Change created via GitHub Actions","work_notes":"Test work notes"},"setCloseCode":false}}'

      - run: echo "Change Number = ${{ steps.servicenow-change.outputs.change-request-number }}"
