name: ServiceNow DevOps Change Automation

on:
  push:
    branches:
      - main

jobs:
  Haish:
    runs-on: ubuntu-latest
    steps:
       - name : Harish test
         run: echo "Step 1 Harish complete3"

  servicenow-change:
    name : create ServiceNow Change
    runs-on: ubuntu-latest
    needs : Haish
    steps:
      - name: change
        uses: ServiceNow/servicenow-devops-change@v2.0.0

        with:
          instance-url: ${{ secrets.SN_INSTANCE_URL }}
          devops-integration-token: ${{ secrets.SN_DEVOPS_INTEGRATION_TOKEN }}
          tool-id: ${{ secrets.SN_ORCHESTRATION_TOOL_ID }}
          context-github: ${{ toJSON(github) }}
          job-name: Create ServiceNow Change
          change-request:
            '{"changeCreationTimeOut":3600,"changeStepTimeOut":1800,"pollingInterval":30,"changeRequestDetails":{"attributes": {"short_description": "Test description","start_date":"2025-01-11 08:00:00", "end_date": "2025-01-11 09:00:00", "description": "test description"   },"setCloseCode": false}}'

     # - run: echo "Change Number = ${{ steps.servicenow-change.outputs.change-request-number }}" 
